html, body, div, span {
    margin: 0;
    border: 0;
    padding: 0;
}

/* COLORS AND DESIGN */

body         { background-color: #141414; }
.white       { background-color: #ffffff; }
.green       { background-color: #2af92d; }
.yellow      { background-color: #d8e650; }
.orange      { background-color: #fc6f27; }
.red         { background-color: #c82620; }
.salmon      { background-color: #fc6153; }
.pink        { background-color: #dd0e50; }
.purple      { background-color: #590b6e; }
.blue        { background-color: #263eb2; }
.sky         { background-color: #2cc7fc; }
.weakText    { color: #4d4d4d; }
.strongText, .mediumText  { color: #b3b3b3; }
.temperature {
    background: #37a0fc;/* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #37a0fc, #a9050e); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #37a0fc, #a9050e); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #37a0fc, #a9050e); /* For Firefox 3.6 to 15 */
    background: linear-gradient(right, #37a0fc, #a9050e); /* Standard syntax */
}
.volume {
    background: #0e699b;/* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #0e699b, #091a6b); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #0e699b, #091a6b); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #0e699b, #091a6b); /* For Firefox 3.6 to 15 */
    background: linear-gradient(right, #0e699b, #091a6b); /* Standard syntax */
}
.moles {
    background: #d59339;/* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #d59339, #fc551f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d59339, #fc551f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #d59339, #fc551f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(right, #d59339, #fc551f); /* Standard syntax */
}

@font-face {
    font-family: "Nunito";
    src: url("font/Nunito-Light.ttf");
}

@font-face {
    font-family: "Nunito";
    src: url("font/Nunito-SemiBold.ttf");
    font-weight: bold;
}

body {
    font-family: "Nunito", sans-serif;
    font-weight: 200;
}

.weakText { font-size: 1vw; }
.strongText { font-size: 2.25vw; }
.mediumText {
    font-size: 1.7vw;
    font-weight: 400;
}


.hidden { display: none; }

/* PAGE SCALING */

#everything {
    width: 100vw;
    padding-bottom: 57vw;
    position: relative;
    overflow: hidden;
}

#everythingStretchyWrapper {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

/* HEADER */

#header {
    height: 2vw;
    padding: 1vw 3vw 1vw 1vw;
}

#title {
    color: #d5d5d5;

    font-family: "Futura", sans-serif;
    font-weight: bold;
    font-size: 2vw;

    float: left;
}

#download {
    color: #b3b3b3;
    font-size: 1vw;

    float: right;
}

#downloadImage {
    height: 1vw;
    margin: 0.5vw 0.5vw 0;
}

/* LEFT CONTAINER */

#leftContainer {
    float: left;
    width: 62vw;
    padding-right: 2vw;
}

#particleBoxContainer {
    float: right;
}

#particleBoxHeader {
    height: 4vw;
}

#particleBoxSizeSelect {
    float: left;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.particleBoxSizeButton {
    cursor: pointer;
}

.particleBoxSizeButton:hover {
    color: #b3b3b3;
}

#particleBoxPressureNumeric {
    float: right;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#particleBoxSizeSelect div, #particleBoxPressureNumeric div {
    padding: 0 5px 0 5px;
}

#particleBox {
    border: 5px solid #333333;
    position: relative;
    width: 50vw;
    height: 24vw;
}

#controlsContainer {
    padding-top: 3vw;
    width: 100%;
    float: right;
}

.control {
    position: relative;
    height: 4vw;
}

.controlMax {
    color: #4d4d4d;
    font-size: 1vw;

    text-align: right;
    float: right;
    padding-top: 0.25vw;
    width: 10vw;
    margin-left: 32vw;
}

.controlSliderBox {
    position: absolute;
    width: 40vw;
    height: 3.25vw;
    right: 0;
    top: 0.375vw;
}

.controlBar {
    background-color: white;
    border-radius: 0.125vw;

    position: absolute;
    width: 100%;
    height: 0.25vw;
    top: 1.5vw;
}

.controlSlider {
    cursor: default;
    background-color: white;
    border-radius: 0.375vw;

    position: absolute;
    width: 0.75vw;
    height: 100%;
}

.controlNumeric {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;

    height: 3vw;
    padding: 1vw 0 1vw 0;
}

.controlNumeric div {
    padding: 0 5px 0 5px;
    white-space: nowrap;
}

#particleColorButtonsContainer {
    position: absolute;
    width: 40vw;
    height: 100%;
    right: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.particleColorButton {
    border: solid 0.05vw #141414;
    width: 1.9vw;
    height: 1.9vw;
    border-radius: 1vw;
    margin: 0.25vw;
}

.particleColorButtonCore {
    pointer-events:none;

    border: solid 0.35vw #141414;
    margin: -0.1vw;
    width: 1.4vw;
    height: 1.4vw;
    border-radius: 1.225vw;
}

.particleColorButton:hover .particleColorButtonCore {
    border: none;
}

.selected .particleColorButtonCore {
    margin: 0.125vw;
    border: solid 0.125vw #141414;
    border-radius: 0.7625vw;
}

.selected:hover .particleColorButtonCore {
    border: solid 0.125vw #141414;
}

#particleColor .weakText {
    height: 1.5vw;
    margin-right: 42vw;
    margin-top: 1.35vw;
    float: right;
}

/* RIGHT CONTAINER */

#rightContainer {
    /*background: blue;*/
    float: right;
    width: 30vw;
    padding-right: 6vw;
}

#PVDiagram {
    /*overflow: hidden;*/
}

#workGraph {
    /*height: 18vw;*/
}

#workGraph .graphXAxisLabelContainer {
    float: right;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;

    margin-top: 0;
    margin-right: 0.4vw;
}

#workAxis {
    background-color: #4d4d4d;

    position: relative;
    height: 0.1vw;
    margin-bottom: -0.1vw;
    top: 6.6vw;
}

#workBarContainer {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.workBar {
    width: 5vw;
    margin: 0 1.5vw;
}

#workBarLabelsContainer {
    /*background: gold;*/
    position: relative;
    margin-top: -13.3vw;
    height: 13.3vw;

    display: flex;
    flex-direction: row;
    /*align-items: center;*/
}

.workBarLabel {
    color: #4d4d4d;

    width: 5vw;
    margin: 0.5vw 1.5vw;
    text-align: center;
}

.graph {
    color: #b3b3b3;

    height: 18vw;
    width: 30vw;
}

.graphContent {
    position: relative;
    width: 24vw;
    height: 13.3vw;
    float: right;
}

.graphBG {
    position: absolute;
    width: 100%;
    top: 0;
}

.graphFGWrapper {
    position: absolute;
    width: 97.4%;
    left: 1.3%;
    height: 95.3%;
    top: 2.4%;
}

.graphFG {
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.graphTitle {
    float: right;
    width: 14vw;
    height: 1.5vw;
    font-size: 1vw;
}

.graphReset {
    color: #4d4d4d;
    cursor: pointer;

    float: right;
    font-size: 1vw;
    width: 5vw;
    text-align: center;
}

.graphReset:hover {
    text-decoration: underline;
}

.graphNumber {
    float: right;
    font-size: 1vw;
    width: 5vw;
    text-align: right;
}

.graphXAxisTitle {
    float: right;
    font-size: 1vw;
    width: 4vw;
    height: 13.3vw;
    line-height: 13.3vw;
}

.graphXAxisLabelContainer {
    float: right;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;

    margin-top: 0.4vw;
    margin-right: 0.4vw;
}

.graphXAxisLabel {
    font-size: 0.75vw;
    padding: 0.09vw 0 0.09vw;
}

.graphYAxisTitle {
    float: right;
    font-size: 1vw;
    width: 24vw;
    text-align: center;
}

.graphYAxisLabelContainer {
    float: right;
    display: flex;
    flex-direction: row;
    margin-right: 1.2vw;

    margin-top: 0.4vw;
}

.graphYAxisLabel {
    font-size: 0.75vw;
    width: 1vw;
    text-align: center;
    padding: 0 0.575vw 0 0.575vw;
}

#numericOutput {
    color: #4d4d4d;
    font-size: 1vw;
}

#numericOutput table {
    border: none;
    border-collapse: collapse;
    margin: 2vw auto 0 auto;
}

#numericOutput table td {
    width: 15vw;
}

#numericOutput table tr td:first-child {
    text-align: right;
    padding-right: 1vw;
    width: 14vw;
}

#numericOutput .outputNumber {
    color: #b3b3b3;
    padding-right: 5px;
}


/* BLOCK TEXT */

#bodyWrapper {
    width: 1000px;
    align-items: center;
    align-content: center;
    background-color: white;
}

#bodyTextWrapper {
    text-align: left;
}

/* FOOTER */

#footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;
    height: 3vw;
    width: 100%;
}

.stickyfooter {
    position: fixed;
}

.footerButton {
    color: #b3b3b3;
    font-size: 1vw;
    margin: 2vw;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

.footerButton:hover {
    text-decoration: underline;
}

.activeButton {
    cursor: default;
    text-decoration: underline;
}